<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
{% extends 'libapp/base.html' %}

{% block body_block %}

    <form action="{% url 'libapp:search' %}" method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <input type="submit" value="Search">

    </form>

    {% for result in booklist %}
        <ul>
            <li>Book</li>
            <li>{{ result.title }} {{ result.author }}</li>
        </ul>
    {% endfor %}

     {% for result in dvdlist %}
            <ul>
            <li>DVD</li>
            <li>{{ result.title }} {{ result.maker }}</li>
            </ul>

    {% endfor %}


{% endblock %}

</form>
</body>
</html>