body{
    font-family: 'Source Sans Pro';
    background-image: url("http://worrydream.com/InteractiveLibrary/Images/BookBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
    overflow-x: hidden;
}



.now{
    position: absolute;
    right: 60px;
    top: 10px;
}

.now > a{
    margin:5px;
}

.loginform{
    padding-left: 100px;

}
h1{
    background-color: inherit;
    color: black;
    font-size: large;
    font-style: normal;
    position: inherit;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding-right: 75px;
}
h2{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
.hbar1 {
display: inline-block;
margin: 15px;
}
